
<% title "About" %>

<!-- <img id="billy" src="/images/billy.jpeg" alt="Billy Madison"> -->

<h1>About The Fake Me</h1>

<h3>*Note: Identities changed to protect the guilty.</h3>

<h2>Team:</h2>
<ul>
	<li>(fake_identity1)</li>
	<li>(fake_identity2)</li>
</ul>